/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	color: $crad-white;
	background-color: $crad-blue;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 4rem 0;
	// text-align: center;

	a {
		color: $crad-white;
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: underline;
		}
	}
	p {
		// line-height: 1.25;
		margin-bottom: .5em;
	}
	input {
		margin-bottom: .5em;
		&[type="email"] {
			margin-top: .5em;
			font-size: 16px;
			font-size: 1.6rem;
			padding: .5em;
			background-color: #eee;
			// max-width: 10em;
		}
		&[type="submit"] {
			font-size: 16px;
			font-size: 1.6rem;
			color: #333;
			padding: .5em;
			background-color: #ddd;
			&:focus, &:hover {
				color: #222;
				background-color: #ccc;
			}
		}

	}


	h4.footer-logo {
		width: 100%;
		text-indent: -9999px;
		background: top left / contain no-repeat;
	}
}

/* Footer Social Icons
--------------------------------------------- */

.social {
	display: inline-block;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	li {
		display: inline-block;
		margin: 6px;
		margin: 0.6rem;
	}
	a, svg {
		display: block;
	}
	a {
		position: relative;
		height: 36px;
		height: 3.6rem;
		width: 36px;
		width: 3.6rem;
	}
	svg {
		height: 100%;
		width: 100%;
	}
	em {
		font-size: 14px;
		line-height: 1.5;
		margin-top: -0.75em;
		position: absolute;
		text-align: center;
		top: 50%;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.facebook:hover, .twitter:hover, .instagram:hover {
	border-radius: 100%;
	color: $crad-blue;
	fill: $crad-blue;
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	// -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
	// transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
	// transition: background-color 0.5s, transform 0.5s ease-out;
	// transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.facebook, .twitter, .instagram {
	color: $crad-white;
	fill: $crad-white;
	&:hover {
		background: $crad-white;
	}
}

.copyright {
	clear: left;
}
